        {# Add local yum repos #}
        {% for repo in artifactory_role_local_repos %}
        <localRepository>
            <key>{{ repo.key }}</key>
            <type>yum</type>
            <includesPattern>**/*</includesPattern>
            <repoLayoutRef>simple-default</repoLayoutRef>
            <dockerApiVersion>V2</dockerApiVersion>
            <forceNugetAuthentication>false</forceNugetAuthentication>
            <blackedOut>false</blackedOut>
            <handleReleases>true</handleReleases>
            <handleSnapshots>true</handleSnapshots>
            <maxUniqueSnapshots>0</maxUniqueSnapshots>
            <maxUniqueTags>0</maxUniqueTags>
            <suppressPomConsistencyChecks>true</suppressPomConsistencyChecks>
            <propertySets>
                <propertySetRef>artifactory</propertySetRef>
            </propertySets>
            <archiveBrowsingEnabled>false</archiveBrowsingEnabled>
            <snapshotVersionBehavior>unique</snapshotVersionBehavior>
            <localRepoChecksumPolicyType>client-checksums</localRepoChecksumPolicyType>
            <calculateYumMetadata>false</calculateYumMetadata>
            {% if repo.yumRootDepth is defined %}
            <yumRootDepth>{{ repo.yumRootDepth }}</yumRootDepth>
            {% else %}
            <yumRootDepth>0</yumRootDepth>
            {% endif %}
            <yumGroupFileNames>groups.xml</yumGroupFileNames>
            <debianTrivialLayout>false</debianTrivialLayout>
        </localRepository>
        {% endfor %}